<div
  class="flex items-center flex-row justify-start w-[90%] mx-[5%] lg:py-0 py-5 md:my-5 gap-10"
>
  <span class="text-[16px] font-bold text-[#1C3738]">Dispatchers List</span>
  <div class="searchdiv w-[220px] h-[45px] flex items-center px-2 relative">
    <input
      matInput
      class="w-full text-[#9DA3BB] font-bold text-[14px] leading-[100%]"
      type="text"
      placeholder="Search Keyword"
      (keyup)="pending.applyFilter($event)"
      (keyup)="disapproved.applyFilter($event)"
      (keyup)="approved.applyFilter($event)"
    />
    <img
      class="absolute right-[20px] cursor-pointer"
      src="/assets/search_icon.svg"
      (click)="pending.applyFilter($event)"
    />
  </div>
</div>
<div class="w-[90%] mx-[5%] relative flex-col item-start mb-4">
  <div class="flex justify-start flex-row gap-24">
    <span
      class="text-[16px] font-bold text-[#1C3738] relative flex flex-row justify-start gap-3 cursor-pointer"
      (click)="setApproved()"
    >
      Approved({{ approvelength() }})
      <img class="cursor-pointer" src="/assets/right_icon.svg" />
      <div
        class="main-linediv w-[120px] h-[3px] absolute bottom-[-10px] z-[1]"
        [hidden]="!isApprovedActive"
      ></div>
    </span>
    <span
      class="text-[16px] font-bold text-[#1C3738] relative flex flex-row justify-start gap-3 cursor-pointer"
      (click)="setDisapproved()"
    >
      Disapproved({{ disapprovelength() }})
      <img class="cursor-pointer" src="/assets/right_icon.svg" />
      <div
        class="main-linediv w-[142px] h-[3px] absolute bottom-[-10px] z-[1]"
        [hidden]="isDisapprovedActive"
      ></div>
    </span>
    <span
      class="text-[16px] font-bold text-[#1C3738] relative flex flex-row justify-start gap-3 cursor-pointer"
      (click)="setPending()"
    >
      Pending({{ pendinglength() }})
      <img class="cursor-pointer" src="/assets/right_icon.svg" />
      <div
        class="main-linediv w-[106px] h-[3px] absolute bottom-[-10px] z-[1]"
        [hidden]="isPendingActive"
      ></div>
    </span>
  </div>
  <div class="main-line w-full h-[2px] absolute bottom-[-10px]"></div>
</div>
<app-approveddispatcher
  *ngIf="isApprovedClicked"
  (Parentevent)="parentEventHandlerFunction($event)"
></app-approveddispatcher>
<app-disapproveddispatcher
  *ngIf="isDisapprovedClicked"
  (Parentevent)="parentEventHandlerFunction($event)"
></app-disapproveddispatcher>
<app-pendingdispatcher
  *ngIf="isPendingClicked"
  (Parentevent)="parentEventHandlerFunction($event)"
></app-pendingdispatcher>

<!-- google-maps-demo.component.html start-->
<div class="h-[700px] w-[90%] mx-[5%] rounded-[12px] mt-28 overflow-clip mb-10">
  <app-googlemap></app-googlemap>
</div>
